@using SSH_Configurer_UI.Model;

<div class="nav-item px-3" style="margin-left: @leftMargin;" @onclick=ShowHideSubOptions>
    @if (@menuItem.Href != "none")
    {
        <NavLink class="nav-link" href="@menuItem.Href">
            <span class=@icon aria-hidden="true"></span>@menuItem.DisplayedText
        </NavLink>
    }
    else
    {
        <NavLink class="nav-link">
            <span class=@icon aria-hidden="true"></span>@menuItem.DisplayedText
        </NavLink>
    }
</div>
    @if (showSubOptions)
    {
        foreach(var item in menuItem.SubItems)
        {
            <NavItemView menuItem=item></NavItemView>
        }
    }
    

@code {
    [Parameter]
    public NavMenuItem menuItem { get; set; }


    private bool showSubOptions=false;
    private string icon;
    private string leftMargin;

    private void ShowHideSubOptions()
    {
        if (showSubOptions)
        {
            icon = menuItem.IconExpanded;
            showSubOptions = false;
        }
        else
        {
            icon = menuItem.IconNotExpanded;
            showSubOptions = true;
        }

    }

    protected override void OnInitialized()
    {
        icon = menuItem.IconExpanded;
        leftMargin = (menuItem.Depth * 10).ToString() + "px";

        base.OnInitialized();
    }
}
