@if (show)
{
    <div class="modal-backdrop show"></div>
    <div class="modal fade show" style="display:block" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@HeaderContent</h5>
                    <button type="button" class="btn-close" @onclick="Hide" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@BodyContent</p>
                </div>
                <div class="modal-footer">
                    <button type="button" @onclick="Hide" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" @onclick="TriggerAction" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
}

@code{
    private bool show = false;
    public void Show() => show = true;
    public void Hide() => show = false;

    public Object actionItem { get; set; }

    [Parameter]
    public EventCallback<Object> OnConfirmed { get; set; }

    public string HeaderContent { get; set; }

    public string BodyContent{ get; set; }

    public async Task TriggerAction()
    {
        await OnConfirmed.InvokeAsync(actionItem);
        Hide();
    }
}
