@using SSH_Configurer_UI.Model;

@if (DeviceStatuses is null)
{
    <br />
    <span>Devices are loading...</span>
    <br />
}
else if (DeviceStatuses.Count == 0)
{
    <br />
    <span>No devices to display</span>
    <br />
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hostname</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deviceStatus in DeviceStatuses)
            {
               <tr>
                    <td>@deviceStatus.device.Name</td>
                    <td>@deviceStatus.device.Hostname</td>
                    <td>@deviceStatus.status</td>
               </tr>
            }
        </tbody>
    </table>
}

@code {

    [Parameter]
    public List<DeviceStatus> DeviceStatuses { get; set; }
}