.table {
    width: 950px;
    table-layout: fixed;
    border-collapse: collapse;
}

    .table tbody {
        display: block;
        width: 100%;
        overflow: auto;
        height: 500px;
    }

    .table thead tr {
        display: block;
    }

    .table thead {
        background: black;
        color: #fff;
    }

    .table th,
    .table td {
        padding: 5px;
        text-align: left;
        width: 240px;
    }
